@using Microsoft.AspNetCore.Http
@model TrainingPortal.WebPL.Models.CategoryViewModel

@{
    Exception exception = ViewBag.Exception;
    IFormCollection collection = ViewBag.IFormCollection;
}

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}