@model TrainingPortal.WebPL.Models.RegisterUserViewModel

<div class="row">
    <div class="col-md-6 form-floating mb-3">
        <input asp-for="Login" class="form-control" placeholder="" />
        <label asp-for="Login" class="control-label col-form-label ml-3"></label>
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="" />
        <label asp-for="Email" class="control-label col-form-label ml-3"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-floating mb-3">
        <input asp-for="Password" class="form-control" placeholder="" />
        <label asp-for="Password" class="control-label col-form-label ml-3"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-floating mb-3">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="" />
        <label asp-for="ConfirmPassword" class="control-label col-form-label ml-3"></label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}