@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
@if (User.IsInRole("editor") || User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create" type="button" class="btn btn-outline-info">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (User.IsInRole("editor") || User.IsInRole("admin"))
                {
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class="btn btn-outline-warning" })
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class="btn btn-outline-danger" })
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
