@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Training Portal!</h1>
    <p>"Training Portal" is a system that allows you to study online.</p>
</div>
